<div class="header">
    <h1 routerLink="/">{{ title }}</h1>
    <div class="header__right">
        <div class="header__right-cart-icon">
          <div class="header__right-cart-icon-badge">
            <span>5</span>
          </div>
          <mat-icon routerLink='cart'>local_grocery_store</mat-icon>
        </div>
        <div class="header__right-photo">
            <img src="../../../assets/images/no-photo.png" alt="">
        </div>
        <button mat-raised-button color="primary" (click)='goToSignIn()'>Login</button>
    </div>
</div>
