.header {
    height: 50px;
    background-color: rgb(84, 123, 241);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0;
        color: white;
        cursor: pointer;
    }

    &__right {
        display: flex;

        &-cart-icon {
          margin-right: 25px;
          position: relative;
          cursor: pointer;

          mat-icon {
            color: #fff;
            font-size: 40px;
          }

          &-badge {
            position: absolute;
            border-radius: 50%;
            background-color: rgb(218, 44, 44);
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 25px;
            top: -5px;

            span {
              color: #fff;
              margin-right: 2px;
            }
          }

        }

        &-photo {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid white;
            margin-right: 10px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }

}
