<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ labels.sign_in }}</title>
</head>
  <body>
      <fd2-header></fd2-header>
      <h1>{{ labels.sign_in }}</h1>
      <div [formGroup]="signInForm" class="sign-in">
        <mat-form-field appearance="outline">
          <mat-label>{{ labels.email }}</mat-label>
          <input matInput  placeholder="{{ labels.email }}" formControlName="email">
          <mat-error *ngIf="signInForm.get('email').hasError('required')">{{ errors.required }}</mat-error>
          <mat-error *ngIf="signInForm.get('email').hasError('pattern')">{{ errors.email_template }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ labels.password }}</mat-label>
          <input type="password" matInput  placeholder="{{ labels.password }}" formControlName="password">
          <mat-error *ngIf="signInForm.get('password').hasError('required')">{{ errors.required }}</mat-error>
          <mat-error *ngIf="signInForm.get('password').hasError('pattern')">{{ errors.password_length }}</mat-error>
        </mat-form-field>
        <button [disabled]="signInForm.invalid" mat-raised-button color="primary">{{ labels.sign_in }}</button>
        <button class="sign-in__signUpBtn" routerLink="/sign-up" mat-raised-button color="primary">{{ labels.goToSignUp }}</button>
      </div>
  </body>
</html>
