.counter {
  display: flex;

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 64px;
    height: 34px;
    margin: 0 5px;
  }

}
